
    <!-- FOOTER -->
    <footer style="margin:30px 0px;background-color:black;" class="">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>
<script src="app.js" charset="utf-8"></script>
</body>

</html>
