<%- include('header'); -%>

<marquee class="headline"> * Attention : Hello to the new world of modern electronics. *</marquee>



<div  class=" row welcome">
  <div class="left col-lg-6">
    <img class="welimg" src="/Images/main.png" alt=""> <br>
    <a class="button" href="#Subscribebtn">Subscribe</a>
  </div>
  <div class="right col-lg-6">
    <h1 class="mainheading">Home of Electronics</h1>
    <div class="headingdiv border border-success border-1">
      <p class="titlehead">Creating a digital electronics community with great ideas and serving students to get the best possible benefits. </p> <br>
      <p>Join us today to explore more with us</p>

      <button class="btn btnup btn-outline-success"type="button" name="button">Join Us</button>
      <button class="btn btnup btn-outline-success"type="button" name="button">Know More</button>
    </div>

  </div>

</div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div style="margin-top:40px;" class=" marketing container">

      <!-- Three columns of text below the carousel -->
<div class="">
  <div class="row">
    <div class="col-lg-4 good">
<h5 class="noticeText" >Notice board</h5> <br>
<ul>
   <a target="_blank" class="listitemsnb" href="#"><li>&nbsp Introduction to new community</li></a>
   <hr>
<a target="_blank" class="listitemsnb" href="#"><li>&nbsp Join Us and get more</li></a>
<hr>
<a target="_blank" class="listitemsnb" href="#"><li>&nbsp Great opportunities for students</li></a>
<hr>
  <a target="_blank" class="listitemsnb" href="#"><li>&nbsp News Five</li></a>
  <hr>

</ul>
    </div>
    <div  class="col-lg-8 aluminia">
      <h1 class="allum">Our Alumni</h1>
      <hr class="border border-success border-1">
      <p>The opportunity to rekindle old friendships through the alumni search facility.</p> <br>
<div class="row">

  <div class="col-lg-6 alumini">
  <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
<h2>Adesh Salsundar</h2>
<p> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
<p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
</div><!-- /.col-lg-4 -->

<div class="col-lg-6 alumini">
  <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
  <h2>Heading</h2>
  <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
  <p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
</div><!-- /.col-lg-4 -->

<div class="col-lg-6 alumini">
  <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
  <h2>Heading</h2>
  <p>And lastly this, the third column of representative placeholder content.</p>
  <p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
</div><!-- /.col-lg-4 -->

<div class="col-lg-6 alumini">
  <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
  <h2>Heading</h2>
  <p>And lastly this, the third column of representative placeholder content.</p>
  <p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
</div><!-- /.col-lg-4 -->
<a href="#">View More</a>
</div>
    </div>
  </div><!-- /.row -->
</div>




      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
        <img class="fea" src="/Images/7.jpg" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="fea" src="/Images/tree.jpg" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your
            content.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
            focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </svg>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Official Supporters</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h4>TechEdu</h4>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="btn btn-outline-success">
            Connect
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h4>Career Development Center</h4>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="btn btn-outline-success">
            Connect
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <div>
          <h4>DBATU Forum Of Incubation and Innovation</h4>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="btn btn-outline-success">
            Connect
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

      <!-- /END THE FEATURETTES -->

      <!-- Subscribe Form -->
      <div id="Subscribebtn">
        <div class="row subscribe border border-success border-1">
          <div style="text-align:center;" class="col-lg-6 subsleft">
<h1 class="headsubs1">Let's grow together !</h1>
<p class="introsubs"style="color:white;">To keep connected with us please sign up with your personal info.</p>
<button style="color:white;border-color:white;" class="btn  btn-outline-success" type="button" name="button">Sign Up</button>
          </div>
          <div style="text-align:center; "class="col-lg-6">
          <h1 class="headsubs">Subscribe !</h1>
            <i class="fa-brands iconssubs fa-whatsapp"></i>
            <i class="fa-brands iconssubs  fa-linkedin"></i>
            <i class="fa-brands iconssubs  fa-github"></i>
            <i class="fa-regular iconssubs  fa-envelope"></i>
            <p>Get the best new information in your inbox everyday. Get the latest news first.</p>
            <form class="" action="index.html" method="post">
    <input class="subsinput" type="email" name="" value="" placeholder="Email Id"required> <br> <br>
    <input class="subsinput"type="mobile" name="" value="" placeholder="Mobile Number (Optional)"> <br><br>
    <button class="btn btn-outline-success " type="submit" name="button">Subscribe</button>
            </form>
          </div>
        </div>
      </div>

    </div><!-- /.container -->




<%- include('footer'); -%>
