/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: 'Noto Serif', serif;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Navbar base class */
.padd {
  padding: 0;
}

.one:hover {
  background-color: #eee;
}

.logo {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  padding: 0;
}

.profile {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

.menu {
  margin-left: 10px;
}

.us {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 600px;
}

.us:hover {
  color: white;
}

#dropdownMenuButton1 {
  color: white;
}

.btncls {
  font-size: 20px;
  color: white;
}

.headline {
  margin-bottom: 5px;
  margin-top: 33px;
  color: red;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, .1);
  transition: 2s;
}

.login {
  text-decoration: none;
}

.btnlo {
  margin-left: 30px;
}

.mid {
  margin-left: 30px;
}

.input {
  width: 250px;
}

/* Welcome Div Styles
-------------------------------------------------- */
/* Styles given to first div */
.welcome {
  width: 100%;
  height: 400px;
  height: 85vh;
}

.left {
  display: inline-block;
  background-color: white;
  border-radius: 0 0 700px 0;
  background-image: linear-gradient(to right, #9AE66E, #CCFFBD);
}

.mainheading {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 50px;
  color: rgb(4, 170, 109);
  margin: 40px;
    text-shadow:1px 1px 1px #89C9B8, 1px 1px 1px #ccc;
  ;
}

.headingdiv {
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, .1);
  transition: 2s;
  padding: 30px;
  border-radius: 20px;
  border-color: rgb(4, 170, 109) 20px;
}

.welimg {
  width: 450px;
  height: 330px;
  margin: 50px 10px 0 50px;
}

.btnup {
  padding: 5px;
  margin: 10px;
  width: 150px;
  border: 1px solid rgb(4, 170, 109);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-box-shadow: 0px 0px 4px rgb(4, 170, 109);
  -moz-box-shadow: 0px 0px 4px rgb(4, 170, 109);
  box-shadow: 0px 0px 4px rgb(4, 170, 109);
}

.right {
  display: inline-block;
  text-align: center;
}

.head {
  margin: 5px 0 0 100px;
}

.subsh {
  padding: 20px 60px;
}

/* Notice and Alumini Styles
-------------------------------------------------- */
/* Styles given to  divs */
.good {
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, .1);
  transition: 2s;
  border-radius: 20px;
  padding: 0;
}

.noticeText{
  background-color: rgb(4, 170, 109);
  color: white;
  border-radius: 0 0 70px 0;
  padding: 15px;
  text-align: left;
}

/* Lists styles */

ul{
  list-style-type:"â•";
}


.listitemsnb{
  color: red;
  text-decoration: none;
    text-align: left;

    }

    /* Alumini Styles */

    .allum{
      margin-bottom: 30px;
      color:rgb(4, 170, 109);
    }

.aluminia {
  padding: 0;
  text-align: center;
  padding-left: 40px;
}

.alumini {
  padding: 20px 0;
}

.oneimg {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 16px 0px;
}

.fea {
  width: 450px;
  height: 350px;
  object-fit: cover;
  border-radius: 5%;
  background-position: center;
  background-size: cover;
}

/* Subscribe Button Styles
-------------------------------------------------- */
/* Styles given to  button */
.button {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  margin: 30px 0 0 10px;
}

@keyframes glowing {
  0% {
    background-color: #E0144C;
    box-shadow: 0 0 5px #FF5858;
  }

  50% {
    background-color: #FF1E00;
    box-shadow: 0 0 20px #DD5353;
  }

  100% {
    background-color: #FF1E1E;
    box-shadow: 0 0 5px #E14D2A;
  }
}

.button {
  animation: glowing 1300ms infinite;
}

/* Subscribe Form Styles
     -------------------------------------------------- */
/* Form base class */
.subscribe {
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, .1);
  border-radius: 20px;
  transition: 2s;
  padding: 50px;
}

.headsubs {
  font-family: 'Akaya Telivigala', cursive;
  color: rgb(4, 170, 109);
}

.headsubs1 {
  font-family: 'Akaya Telivigala', cursive;
  color: white;
  margin-top: 30px;
}

.introsubs {
  padding: 30px;
}

.subsleft {
  background-color: rgb(4, 170, 109);
  border-radius: 20px;
}

.iconssubs {
  font-size: 24px;
  margin: 15px;
}

.subsinput {
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, .1);
  transition: 2s;
  border-width: 1.5px;
  padding: 5px;
  width: 250px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* rtl:end:ignore */
/* Featurettes
------------------------- */
.featurette-divider {
  margin: 3rem 0 2rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media(max-width:480px) {

  /* Responsive Navbar */
  .profile {
    width: 60px;
    height: 60px;
    margin-left: 5px;
  }

  .menu {
    margin-left: 5px;
  }

  .logo {
    width: 70px;
    height: 70px;
  }

  .us {
    margin-left: 20px;
  }

  .headline {
    margin-top: 45px;
    margin-left: 10px;
  }

  /* Responsive Welcome Page */
  .welcome {
    width: 419px;
    height: 100vh;
  }

  .welimg {
    width: 350px;
    height: 220px;
    margin: 60px 0 0 40px;
  }

  .head {
    margin: 100px 0 0 40px;
  }

  .button {
    font-size: 15px;
    margin: 20px 0 0 10px;
  }

  /* Aluminia Responsive */
  .aluminia {
    padding-left: 5px;
  }

  .good {
    width: 370px;
    margin-left: 20px;
  }
}



.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
